<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="../bower_components/normalize-css/normalize.css"/>
<link rel="stylesheet" href="../bower_components/angular-bootstrap-colorpicker/css/colorpicker.min.css"/>
<link rel="stylesheet" href="../src/ng-dat.gui.css"/>
<script src="../bower_components/angular/angular.min.js" type="application/javascript"></script>
<script src="../bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.min.js" type="application/javascript"></script>
<script src="../src/ng-dat.gui.js" type="application/javascript"></script>
<script type="application/javascript">
angular.module('ExampleApp', ['dat.gui', 'colorpicker.module']);
</script>
</head>
<body ng-app="ExampleApp">
<dat-gui style="-webkit-user-select: none; width: 245px; position: absolute; top: 0px; right: 20px;" >
	<dat-gui-control property-name="Wiehi">
		<input type="text"/>
	</dat-gui-control>

	<dat-gui-control property-name="Speed" ng-init="slider.value = 5.2">
		<dat-gui-slider ng-model="slider.value" min="0" max="50" step="0.1"/>
	</dat-gui-control>

	<dat-gui-control property-name="Wiehi">
		<input type="checkbox"/>
	</dat-gui-control>

	<dat-gui-control property-name="Wiehi">
		<select>
			<option ng-repeat="i in [1,2,3]" ng-bind="i"></option>
		</select>
	</dat-gui-control>

	<dat-gui-control property-name="Wiehi" type="function"></dat-gui-control>

	<dat-gui-folder title="My Folder">
		<dat-gui-control property-name="Wiehi">
			<input type="text"/>
		</dat-gui-control>

		<dat-gui-control property-name="Wiehi" ng-init="rgbPicker.color = '#ff0000'" >
			<input colorpicker ng-model="rgbPicker.color" type="text" ng-style="{ 'background': rgbPicker.color }">
		</dat-gui-control>

		<dat-gui-control property-name="Wiehi" ng-init="rgbPicker.color2 = '#ff0000'" >
			<input colorpicker ng-model="rgbPicker.color2" type="text" ng-style="{ 'background': rgbPicker.color2}">
		</dat-gui-control>
	</dat-gui-folder>

</dat-gui>
</body>
</html>